<template>
    <div class="container mt-3">
        <h2>Payment List</h2>
        <div class="card card-body mb-2">
            Page {{ page }} of {{ total }}
            <table class="table" style="width: 100%" border="1">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Payment ID</th>
                  <th scope="col">Payment Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody v-for="post in posts">
                <tr>
                  <td>{{ post.id }}</td>
                  <td>{{ post.payment_name }}</td>
                  <td style="text-align: center">
                      <input type="checkbox" :value="post.id" name="payment_id[]" />
                  </td>
                </tr>
              </tbody>
            </table>

            <p>
                <span v-for="meta in meta" style="padding: 5px 5px">
                    <a :href="'/payment/'+meta.id">{{ meta.id }}</a>
                </span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                posts: [],
                post: {
                    id: '',
                    payment_name: '',
                    created_at: ''
                },
                post_id: '',
                meta: [],
                total: '',
                page:''
            }
        },
 
        created() {
            this.fetchPosts();
        },
 
        methods: {
            fetchPosts() {
                var page = window.location.href.split('/').pop();
                console.log(page);
                this.page = page
                fetch('/api/payments/'+page)
                    .then(res => res.json())
                    .then(res => {
                        console.log(res.data)
                        this.posts = res.data
                        this.total = res.total
                        this.meta = res.meta
                    })
            }
        }
    }
</script>
